form {
	width: 800px;
}

.nameFieldRow {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 8px;
	margin: 8px 0;
}

.footerText {
	& :last-child {
		text-decoration: underline;
		color: rgb(177, 177, 177);
	}
	margin: 10px 0;
	text-align: center;
}

.button {
	margin: 8px 0;
}

.loginFormPassword {
	margin: 8px 0;
}

.createConversationForm {
	width: 100%;
}

.message {
	margin: 16px 0;
}

.submitButton {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
